@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #464646;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .3s ease-in-out;
    text-decoration: none;
    animation: all-content 0.3s ease-in-out;
}
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}
body{
    background: #191825;
}
.no-scroll{
    overflow: hidden;
    height: 100vh;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}
.container-alert{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
}
.container-alert.active{
    visibility: hidden;
    opacity: 0;
    transform: scale(.5) translateY(-100%);
}
.alert{
    width: 100%;
    max-width: 79em;
    padding:10px 20px;
    font-size:14px;
    margin: 25px 10px 0 10px;
    border-radius:8px;
}
.alert h4{
    font-weight: 450;
    text-transform: capitalize;
}
.alert-success{
    background:#d4edda;
}
.alert-success h4{
    color:#155724;
}
.alert-info{
    background:#d4eaed;
}
.alert-info h4{
    color:#152e57;
}
.alert-error{
    background:#edd6d4;
}
.alert-error h4{
    color:#571715;
}
.bottom-space{
    height: 4.5em;
    width: 100%;
    /* background: red; */
}
.page{
    display:none;
}

.page.active{
    display:block;
}
#desktop-warning{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#111;
    color:white;
    z-index:9999;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family:sans-serif;
}
/* =================================================================================================== */
/* =================================================================== Main Loads ==================== */
/* =================================================================================================== */
.loads{
    display: flex;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: end;
    background: #191825;
    transition: all .8s ease-in-out;
}
.loads.slide{
    filter: blur(10px);
    visibility: hidden;
    transform: translateX(-100%);
}
.loads.slide .lds-grid{
    opacity: 0;
}
.load-cover{
    width: 100%;
    max-width: 50%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(90deg, #191825, #191825e2);
}
.loads img{
    width: 100%;
    max-width: 50%;
    object-fit: cover;
}
.main-loads{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #439DDF;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}
/* =================================================================================================== */
/* =================================================================== Main Login ==================== */
/* =================================================================================================== */
.container-login{
    display: flex;
    inset: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.main-login{
    margin: 0 30px;
}
.login-card{
    height: 100%;
}
.login-card h2{
    color: #E6E0E9;
    font-size:24px;
    margin-bottom:8px;
}
.tittle-login{
    margin-top: 3em;
}
.tittle-register{
    margin-top: 1em;
}
.subtitle{
    color:#b8b6b9;
    font-size:14px;
    margin-bottom:25px;
}
.subtitle a{
    font-weight:600;
    text-decoration:none;
    color:#E6E0E9;
}
.input-group{
    display: flex;
    position:relative;
    margin-bottom:18px;
}
.input-group input{
    width:100%;
    outline: none;
    padding:12px 40px;
    border:none;
    color: #E6E0E9;
    background:#222430;
    border-radius:10px;
    font-size:14px;
}
.input-group i{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    color:#888;
}
.input-group i:first-child{
    left:12px;
}
.input-group .eye{
    right:12px;
    cursor:pointer;
}
.forgot{
    display:block;
    font-size:13px;
    margin-bottom:18px;
    text-decoration:none;
    color:  #b8b6b9;
}
.btn-login{
    gap: 10px;
    display: flex;
}
.login-btn{
    width:100%;
    padding:13px;
    border:none;
    border-radius:30px;
    background:#3e3361;
    color:#fff;
    font-size:15px;
    cursor:pointer;
    margin-bottom:20px;
}
.back-btn{
    width:100%;
    padding:13px 40px;
    border:none;
    border-radius:30px;
    background:#3e3361;
    color:#fff;
    font-size:15px;
    cursor:pointer;
    margin-bottom:20px;
}
.divider{
    text-align:center;
    position:relative;
    margin:15px 0;
}
.divider span{
    background:#191825;
    padding:0 10px;
    color:#b8b6b9;
    font-size:13px;
}
.divider:before{
    content:"";
    position:absolute;
    width:100%;
    height:1px;
    background:#eee;
    left:0;
    top:50%;
    z-index:-1;
}
.social-text{
    text-align:center;
    font-size:13px;
    color:#b8b6b9;
    margin-bottom:15px;
}
.social-login{
    display:flex;
    justify-content:center;
    gap:12px;
    margin-bottom:20px;
}
.social-btn{
    width:42px;
    height:42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border:none;
    background:#222430;
    cursor:pointer;
    font-size:20px;
}
.social-btn i{
    color: #b8b6b9;
}
.footer-terms{
    margin-top: 4em;
}
.terms{
    font-size:11px;
    text-align:center;
    color:#777;
}
.terms a{
    color:#E6E0E9;
    text-decoration:none;
}
/* =================================================================================================== */
/* =================================================================== Main Aside ==================== */
/* =================================================================================================== */
.container-aside{
    inset: 0;
    width: 100%;
    z-index: 99;
    opacity: 0;
    position: fixed;
    transform: translateX(-100%);
    background: #19182500;
    backdrop-filter: blur(0);
}
.container-aside.active{
    opacity: 1;
    background: #191825b5;
    backdrop-filter: blur(6px);
    transform: translateX(0);
}
.main-aside{
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 75%;
    border-right: 1px solid #222430;
    background: #191825;
}
.wrapper-aside{
    width: 100%;
    margin: 0 10px 0 10px;
    /* background: red; */
}
.tittle-aside{
    display: flex;
    margin-top: 1.7em;
    align-items: center;
    justify-content: space-between;
}
.tittle-aside h4{
    color: #E6E0E9;
    margin: 0 8px;
}
.tittle-aside i{
    color: #E6E0E9;
    font-size: 21px;
}
.aside-list{
    display: flex;
    gap: 17px;
    flex-direction: column;
    margin-top: 1.6em;
}
.aside-list>figure{
    display: flex;
    gap: 2px;
    padding: 6px;
    flex-direction: column;
    border-radius: 12px;
    background: #222430;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
}
.aside-list figure>hr{
    height: 0;
    border: .5px solid #2a2c3a;
}
.aside-list figure>hr:first-child{
    display: none;
}
.aside-list figure>hr:last-child{
    display: none;
}
.box-aside{
    display: flex;
    width: 100%;
    /* background: #fafafa; */
    border-radius: 6px;
}
.box-aside>div{
    display: flex;
    gap: 16px;
    margin: 8px 13px;
    align-items: center;
}
.box-aside>button{
    display: flex;
    gap: 16px;
    width: 100%;
    border: none;
    background: transparent;
    margin: 8px 13px;
    align-items: center;
}
.box-aside i{
    font-size: 18px;
    color: #b8b6b9;
}
.box-aside h4{
    color: #E6E0E9;
    font-weight: 450;
    font-size: 14.6px;
    text-transform: capitalize;
}
.wrapper-profile{
    display: flex;
    margin: 6px 7px;
    justify-content: space-between;
    align-items: center;
}
.wrapper-user{
    display: flex;
    gap: 10px;
    align-items: center;
}
.user-img{
    height: 100%;
    display: flex;
}
.user-img img{
    border-radius: 50%;
    width: 1.7em;
}
.username h4{
    color: #E6E0E9;
    font-size: 13px;
    font-weight: 450;
}
.username h6{
    color: #afafaf;
    font-size: 9px;
}
/* =================================================================================================== */
/* ============================================================== Main Navigation ==================== */
/* =================================================================================================== */
.container-nav{
    top: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: center;
    background: #191825f2;
    backdrop-filter: blur(6px);
}
.main-nav{
    width: 100%;
    max-width: 79em;
    margin: 15px 10px 10px 10px;
}
.wrapper-nav{
    gap: 2px;
    display: flex;
}
.box-nav{
    width: 100%;
    display: flex;
    /* background: #282930; */
    background: #222430;
}
.box-nav:nth-child(1){
    border-radius: 25px 0 0 25px;
}
.box-nav:nth-child(2){
    /* justify-content: space-between; */
    max-width: 7em;
    border-radius: 0 25px 25px 0;
}
.box-nav:nth-child(2)>div{
    width: 100%;
    justify-content: space-evenly;
}
.box-nav>div{
    gap: 12px;
    display: flex;
    align-items: center;
    margin: 9px 16px;
}
.box-nav div>div{
    display: flex;
    align-items: center;
}
.box-nav i{
    color: #E6E0E9;
    font-size: 19px;
}
.box-nav h4{
    font-weight: 450;
    color: #E6E0E9;
    text-transform: capitalize;
}
/* =================================================================================================== */
/* ======================================================= Main Navigation Bottom ==================== */
/* =================================================================================================== */
.container-nav-bottom{
    position: fixed;
    z-index: 9;
    bottom: 0;
    width: 100%;
    height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #191825;
    border-top: 1px solid #1f1e2e;
}
.main-nav-bottom{
    width: 100%;
    max-width: 79em;
    margin: 0 10px;
}
.wrapper-nav-bottom{
    display: flex;
    justify-content: space-evenly;
}
.box-nav-bottom{
    display: flex;
    position: relative;
}
.box-nav-bottom>div{
    display: flex;
    gap: 3px;
    flex-direction: column;
}
.box-nav-bottom div>div:first-child{
    display: flex;
    min-width: 4em;
    justify-content: center;
}
.icon-nav-bottom i{
    font-size: 20px;
    color: #E6E0E9;
    padding: 6px 6px;
    border-radius: 20px;
    background: #1f1e2e00;
}
.icon-nav-bottom.active i{
    color: #9894cd;
    padding: 6px 20px;
    background: #1f1e2e;
}
.subtittle-nav-bottom h5{
    color: #b8b6b9;
    text-align: center;
    font-size: 11px;
    text-transform: capitalize;
}
/* =================================================================================================== */
/* ================================================================== Main Header ==================== */
/* =================================================================================================== */
.container-header{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.main-header{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 79em;
    margin: 0 10px;
}
.tittle-header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}
.tittle-header>div{
    margin: 0 15px;
}
.thumb-header{
    display: flex;
    width: 100%;
    height: 9em;
    overflow: hidden;
    justify-content: end;
    background: #222430;
    border-radius: 15px;
}
.tittle-header h4{
    color: #E6E0E9;
    font-weight: 450;
    text-transform: capitalize;
}
.tittle-header h5{
    font-size: 13px;
    color: #b8b6b9;
}
.tittle-header button{
    border: none;
    font-size: 11px;
    color: #E6E0E9;
    margin-top: 10px;
    border-radius: 20px;
    padding: 8px 15px;
    background: #4F87ED;
}
.thumb-header img{
    width: 10em;
    height: 11em;
    border-radius: 10px;
    object-fit: cover;
    object-position: 0 100%;
    /* border: .5px solid #E6E0E9; */
}
/* =================================================================================================== */
/* ============================================================== Main Tools ==================== */
/* =================================================================================================== */
.container-tools{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.main-tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 79em;
    margin: 0 10px;
}
.back-home{
    display: flex;
    gap: 7px;
    border-radius: 25px;
    padding: 8px 14px;
    background: #1f1e2e;
    align-items: center;
}
.back-home i{
    color: #E6E0E9;
    font-size: 19px;
}
.back-home h4{
    color: #b8b6b9;
    text-transform: capitalize;
}
.wrapper-tools{
    display: flex;
    gap: 2px;
}
.wrapper-tools>div{
    background: #3e3361;
}
.wrapper-tools>div:first-child{
    border-radius: 25px;
}
.wrapper-tools>div:nth-child(2){
    border-radius: 25px 0 0 25px;
}
.wrapper-tools>div:last-child{
    border-radius: 0 25px 25px 0;
}
.wrapper-tools i{
    font-size: 19px;
    color: #E6E0E9;
    padding: 9px 14px;
}
/* =================================================================================================== */
/* ==================================================================== Main Card ==================== */
/* =================================================================================================== */
.container-card{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.main-card{
    width: 100%;
    max-width: 79em;
    display: flex;
    height: 5em;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: linear-gradient(50deg, #439DDF 0%, #4F87ED 32%, #9476C5 58%, #BC688E 89%, #D6645D 100%);
}
.wrapper-card{
    margin: 10px 13px;
}
.tittle-card h3{
    font-size: 15px;
    font-weight: 550;
    color: #E6E0E9;
}
.tittle-card h5{
    font-size: 12px;
    color: #b8b6b9;
}

/* =================================================================================================== */
/* ============================================================== Main Last Study ==================== */
/* =================================================================================================== */
.container-last-study{
    display: flex;
    margin-top: 2.7em;
    justify-content: center;
}
.main-last-study{
    width: 100%;
    max-width: 79em;
    margin: 0 10px;
}
.tittle-last h4{
    color: #E6E0E9;
    font-size: 17px;
    text-transform: capitalize;
}
.box-last{
    display: flex;
    border-radius: 10px;
    margin-top: 15px;
    flex-direction: column;
    background: #222430;
}
.box-last-material{
    display: flex;
    gap: 12px;
    margin: 16px 10px 0 10px;
    align-items: center;
}
.thumb-last{
    display: flex;
    position: relative;
}
.thumb-last img{
    width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    object-fit: cover;
}
.text-last h4{
    color: #E6E0E9;
    text-transform: capitalize;
}
.text-last h6{
    color: #7d7d7d;
}
.box-date{
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin: 15px 10px 12px 10px;
    background: #2a2c3a;
}
.box-date>div{
    display: flex;
    margin: 8px;
    gap: 10px;
    align-items: center;
}
.box-date>div:last-child{
    margin: 8px 15px;
}
.box-date h5{
    font-size: 13px;
    color: #b8b6b9;
}
.box-date i{
    background: #222430;
    border-radius: 50%;
    padding: 5px;
    color: #b8b6b9;
}
/* =================================================================================================== */
/* ================================================================= Main Progres ==================== */
/* =================================================================================================== */
.container-progres{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.main-progres{
    width: 100%;
    max-width: 79em;
    margin: 0 10px;
    border-radius: 10px;
    background: #222430;
}
.wrapper-progres{
    margin: 10px 13px;
}
.tittle-progres{
    display: flex;
    gap: 10px;
    align-items: center;
}
.tittle-progres h4{
    text-transform: capitalize;
    color: #E6E0E9;
}
.progres-strip{
    display: flex;
    gap: 2px;
    margin-top: 10px;
}
.progres-strip span{
    width: 100%;
    height: 7px;
    background: #63568e;
}
.progres-strip>span:first-child{
    border-radius: 10px 0 0 10px;
}
.progres-strip>span:last-child{
    border-radius: 0 10px 10px 0;
}
.progres-save.active{
    background: #439DDF;
}
/* =================================================================================================== */
/* ================================================================ Main Material ==================== */
/* =================================================================================================== */
.container-material{
    display: flex;
    margin-top: 3em;
    justify-content: center;
}
.main-material{
    width: 100%;
    overflow: hidden;
    max-width: 79em;
    /* background: red; */
    height: 13em;
}
.wrapper-material{
    display: flex;
    gap: 19px;
    height: 100%;
    align-items: center;
    scroll-snap-type:x mandatory;
    overflow-x:auto;
    scroll-behavior:smooth;
    padding-left:calc(50% - 110px);
    padding-right:calc(50% - 110px);
}
.wrapper-material::-webkit-scrollbar{
    display: none;
}
.box-material{
    min-width: 220px;
    scroll-snap-align: center;
    background: #222430;
    border-radius: 10px;
    padding: 15px;
    flex-shrink: 0;
    transition: 0.5s;
}
.box-material.active{
    transform: scale(1.05);
}
.box-material-count{
    display: flex;
    justify-content: space-between;
}
.box-material-count i{
    font-size: 19px;
    background: #191825;
    color: #E6E0E9;
    padding: 8px 20px;
    border-radius: 20px;
}
.box-material-count h3{
    color: #E6E0E9;
    font-size: 29px;
}
.box-material-count h5{
    font-size: 11px;
    color: #b8b6b9;
    line-height: 3px;
    text-transform: capitalize;
}
.box-material-tittle{
    margin-top: 35px;
}
.box-material-tittle h4{
    color: #E6E0E9;
    text-transform: capitalize;
}
.box-material-profile{
    display: flex;
    gap: 13px;
    margin-top: 25px;
}
.box-material-profile>div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.box-material-profile>div:first-child{
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    border: 1px solid #63568e;
}
.box-material-profile>div:last-child{
    background: #191825;
    border-radius: 50%;
    padding: 0 3px;
}
.box-material-profile i{
    padding: 7px;
    color: #E6E0E9;
    font-size: 19px;
}
.box-material-profile h6{
    color: #b8b6b9;
    text-transform: capitalize;
}
.thumb-material{
    display: flex;
}
.thumb-material img{
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
}
/* =================================================================================================== */
/* ====================================================== Main Detaile Sub Materi ==================== */
/* =================================================================================================== */
.container-header-materi{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.main-header-materi{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 79em;
    margin: 0 10px;
}
.tittle-header-materi{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
}
.tittle-header-materi>div{
    margin: 0 15px;
}
.tittle-header-materi h4{
    color: #E6E0E9;
    font-weight: 450;
    text-transform: capitalize;
}
.tittle-header-materi h5{
    font-size: 13px;
    color: #b8b6b9;
}
.thumb-header-materi{
    display: flex;
    width: 100%;
    height: 9em;
    overflow: hidden;
    /* justify-content: end; */
    background: #222430;
    border-radius: 15px;
}
.thumb-header-materi img{
    width: 10em;
    height: 11em;
    border-radius: 10px;
    object-fit: cover;
    /* background: red; */
    object-position: 100% 0;
    /* border: .5px solid #E6E0E9; */
}
.container-show-materi{
    display: flex;
    justify-content: center;
}
.main-show-materi{
    width: 100%;
    max-width: 79em;
    margin: 0 10px;
}
.tittle-show-materi{
    margin-top: 2em;
}
.tittle-show-materi h4{
    text-transform: capitalize;
    color: #E6E0E9;
}
.tittle-show-materi h5{
    margin-top: 1em;
    color: #b8b6b9;
    line-height: 22px;
}
.wrapper-show-materi{
    margin-top: 25px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.box-show-materi{
    display: flex;
    background: #1f1e2e;
    border-radius: 10px;
}
.box-show-materi>div{
    margin: 10px 15px;
}
/* =================================================================================================== */
/* ================================================================= Main History ==================== */
/* =================================================================================================== */
.container-history{
    display: flex;
    margin-top: 2em;
    margin-bottom: 20px;
    justify-content: center;
}
.main-history{
    width: 100%;
    max-width: 79em;
    margin: 0 10px;
}
.tittle-history>div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.tittle-history h4{
    font-size: 17px;
    color: #E6E0E9;
    text-transform: capitalize;
}
.tittle-history i{
    color: #b8b6b9;
    font-size: 21px;
}
.box-filter{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.box-filter>div{
    border-radius: 20px;
    border: 1px solid #222430;
}
.box-filter>div.active{
    background: #3e3361;
}
.box-filter>div.active h5{
    color: #E6E0E9;
}
.box-filter h5{
    color: #7d7d7d;
    font-weight: 450;
    padding: 6px 16px;
    text-transform: uppercase;
}
.wrapper-history-list{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}
.wrapper-history-list>hr{
    margin: 12px 0;
    border: 1px solid #222430;
}
.wrapper-history-list>hr:last-child{
    display: none;
}
.box-history{
    display: flex;
    gap: 14px;
}
.thumb-history{
    display: flex;
    align-items: center;
}
.thumb-history>div{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #3e3361;
}
.text-history{
    width: 100%;
}
.text-history h4{
    font-size: 14px;
    text-transform: capitalize;
    color: #E6E0E9;
}
.text-history h6{
    color: #7d7d7d;
}
.icon-menu-history i{
    font-size: 18px;
}
@media screen and (max-width: 398px) {
    .tittle-header h5{
        background: #22243098;
        border-radius: 3px;
        padding-right: 6px;
        backdrop-filter: blur(6px);
    }
    .tittle-header-materi h4,
    .tittle-header-materi h5{
        background: #22243098;
        border-radius: 3px;
        padding: 0 6px;
        backdrop-filter: blur(6px);
    }
}
@media screen and (min-width: 1024px) {
    .main-aside{
        max-width: 25%;
    }
}
